{% extends 'base.html.twig' %}

{% block body_id 'blog_post_show' %}

{% block main %}
    <h1>{{ post.title }}</h1>

    <p class="post-metadata">
        <span class="metadata"><i class="fa fa-calendar"></i> {{ post.createdAt|localizeddate('long', 'medium', null, 'UTC') }}</span>
        <span class="metadata"><i class="fa fa-user"></i> {{ post.author.fullName }}</span>
    </p>

    {{ post.content }}
{% endblock %}

{% block sidebar %}
    {{ dump(isSign) }}
<form action="{{ url('blog_post_sign', {id: post.id}) }}" method="post">
    <input type="hidden" name="token" value="{{ csrf_token('sign') }}" />
    <button type="submit" class="btn btn-lg btn-block btn-success"{{ isSign ? ' disabled' : '' }}>
        <i class="fa fa-trash" aria-hidden="true"></i>
        {{ 'action.sign_post'|trans }}
    </button>
</form>
{% endblock %}
